In [2]:
import numpy as np
import pandas as pd

In [4]:
# Set the random seed for reproductivity

np.random.seed(123)

In [6]:
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

# Basically applying train test split - without using packages

In [7]:
n_class_0, n_class_1

(900, 100)

In [10]:
# Creaing random datapoints

class_0 = pd.DataFrame({
  'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
  'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
  'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
  'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
  'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
  'target': [1] * n_class_1
})

In [11]:
class_0, class_1

(     feature_1  feature_2  target
 0    -1.774224   0.285744       0
 1    -1.201377   0.333279       0
 2     1.096257   0.531807       0
 3     0.861037  -0.354766       0
 4    -1.520367  -1.120815       0
 ..         ...        ...     ...
 895  -0.896718   2.540514       0
 896   0.812571  -0.082706       0
 897   0.637361   0.444621       0
 898   0.332712   1.896404       0
 899   0.258237   0.237581       0

 [900 rows x 3 columns],
     feature_1  feature_2  target
 0   -0.643425   2.571923       1
 1    1.551009   1.782767       1
 2    1.641093   2.054318       1
 3    2.133194   2.155998       1
 4    1.355758   2.467810       1
 ..        ...        ...     ...
 95   2.677156   1.092048       1
 96   2.963404   0.181955       1
 97   1.621476   1.877267       1
 98   3.429559   3.794486       1
 99   3.532273   1.679490       1

 [100 rows x 3 columns])

In [12]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [13]:
df.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [14]:
df.tail()

     feature_1  feature_2  target
995   2.677156   1.092048       1
996   2.963404   0.181955       1
997   1.621476   1.877267       1
998   3.429559   3.794486       1
999   3.532273   1.679490       1

In [15]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [17]:
# Upsampling - 
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [18]:
from sklearn.utils import resample

In [19]:
df_minority_upsampled = resample(df_minority, replace=True, # sample with replacement
         n_samples= len(df_majority), random_state=42)

In [20]:
df_minority_upsampled

     feature_1  feature_2  target
951   2.905343   1.495151       1
992   2.000977   1.814833       1
914   1.927957   2.280911       1
971   2.819483   2.964646       1
960   2.456515   1.833528       1
..         ...        ...     ...
952   1.766644   1.532225       1
965   1.527330   2.182477       1
976   2.463277   0.795616       1
942   2.930412   1.067353       1
974   1.866832   2.723282       1

[900 rows x 3 columns]

In [21]:
df_minority_upsampled.shape

(900, 3)

In [23]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [24]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

#### DOWN-SAMPLING

In [ ]:
# Creaing random datapoints

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
  'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
  'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
  'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
  'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
  'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
  'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [26]:
# Downsampling - 
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [29]:
df_majority_downsampled = resample(df_majority, replace=False,
         n_samples= len(df_minority), random_state=42)

In [30]:
df_majority_downsampled.shape

(100, 3)

In [31]:
df_downsampled = pd.concat([df_minority, df_majority_downsampled])

In [32]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64