In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Creating a DF
df = pd.DataFrame({
  'color': ['red', 'green', 'blue', 'green', 'red', 'blue']
})

In [3]:
df.head()

   color
0    red
1  green
2   blue
3  green
4    red

In [4]:
# Creating ENcoder Instance 
encoder = OneHotEncoder()

In [6]:
# Perform fit and then transform
encoded = encoder.fit_transform(df[['color']]).toarray()

In [8]:
encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())

In [9]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         0.0          1.0        0.0
2         1.0          0.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [10]:
encoder.transform([['blue']]).toarray()

C:\Users\anand\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [12]:
final_df = pd.concat([df, encoded_df], axis=1)

In [13]:
final_df

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1  green         0.0          1.0        0.0
2   blue         1.0          0.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0