In [2]:
import sqlite3

In [3]:
connect = sqlite3.connect('example.db')
connect

In [4]:
cursor = connect.cursor()

In [6]:
# Creating a table
cursor.execute('''
Create Table If Not Exists employees(
  id Integer Primary Key,
  name Text not null,
  age Integer,
  department Text
)               
''')

# Commit the changes
connect.commit()

In [7]:
cursor.execute('''
Select * from employees             
''')

In [8]:
# Inserting data in table
cursor.execute('''
Insert Into employees(name, age, department) values ('Anand', 20, 'Student')
''')

cursor.execute('''
Insert Into employees(name, age, department) values ('Virat', 27, 'Athlete')
''')

cursor.execute('''
Insert Into employees(name, age, department) values ('Rohit', 38, 'Athelete')
''')

In [9]:
connect.commit()

In [11]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

# print the data
for row in rows:
  print(row)

(1, 'Anand', 20, 'Student')
(2, 'Virat', 27, 'Athlete')
(3, 'Rohit', 38, 'Athelete')

In [12]:
# Update data in the table
cursor.execute('''
UPDATE employees Set age = 21 where Name='Anand'
''')

connect.commit()

In [13]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
  print(row)

(1, 'Anand', 21, 'Student')
(2, 'Virat', 27, 'Athlete')
(3, 'Rohit', 38, 'Athelete')

In [14]:
# Deleting data from table
cursor.execute('''Delete from employees where Name='Rohit'
''')
connect.commit()

In [15]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
  print(row)

(1, 'Anand', 21, 'Student')
(2, 'Virat', 27, 'Athlete')

In [16]:
# Example
connection = sqlite3.connect('sales_data.db')
cursor =connection.cursor()