In [1]:
# Integer
age = 20
type(age)

int

In [2]:
# Float
height = 5.7
type(height)

float

In [5]:
# String
name = 'Anand Mansabdar'
type(name)

str

In [9]:
# Boolean
is_Student = True
is_Working = False
is_true = bool()
print(type(is_Student))
print(type(is_Working))
print(type(is_true), is_true)

<class 'bool'>
<class 'bool'>
<class 'bool'> False

In [10]:
# Common errors
result = 'Hello' + 5
print(result)

TypeError: can only concatenate str (not "int") to str

In [11]:
result = 'Hello' + str(5)
print(result)

Hello5