In [2]:
nums = [1, 2, 3, 4, 5, 6]
def square(x):
  return x**2
list(map(square, nums))

[1, 4, 9, 16, 25, 36]

In [4]:
# Lambda function with map
list(map(lambda x: x**x, nums))

[1, 4, 27, 256, 3125, 46656]

In [6]:
# Map multiple iterables
nums1 = [1, 2, 3]
nums2 = [10, 20, 30]

nums3 = list(map(lambda x, y: x+y, nums1, nums2))
print(nums3)

[11, 22, 33]

In [7]:
# map() to convert a list if strings to integers
str_nums = ['1', '2', '3', '4', '5']
int_nums = list(map(int, str_nums))

print(int_nums)

[1, 2, 3, 4, 5]

In [9]:
words = ['apple', 'banana', 'cherry']
upper_words = list(map(str.upper, words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
def get_name(person):
  return person['name']

people = [{'name': 'Anand', 'age': 20},
          {'name': 'Virat', 'age': 37}]

list(map(get_name, people))

['Anand', 'Virat']