#### INTRODUCTION TO TUPLES

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them differ

In [26]:
# creating a tuple
t = tuple()
t

()

In [27]:
l = list()
t = tuple()
print(type(l))
print(type(t))

<class 'list'>
<class 'tuple'>

In [28]:
list((1, 2, 3, 4, 5, 6))

[1, 2, 3, 4, 5, 6]

In [30]:
t = tuple([1, 2, 3, 4, 5, 6])
t

(1, 2, 3, 4, 5, 6)

In [32]:
mixed_tuple = (1, 'Hello world', 3.14, False)
mixed_tuple

(1, 'Hello world', 3.14, False)

In [39]:
# Accessing Tuple Elements
print(mixed_tuple[2])
print(mixed_tuple[1])
print(mixed_tuple[-1])

3.14
Hello world
False

#### TUPLE OPERATIONS

In [40]:
# concatenation
concat = mixed_tuple + t
print(concat)

(1, 'Hello world', 3.14, False, 1, 2, 3, 4, 5, 6)

In [41]:
# repetition
t * 2

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

#### TUPLE METHODS

In [ ]:
print(t.count(1)) # Counts the number of occurances of am element
print(t.index(3)) # Return the element present at an index

1
2

In [44]:
# Packing and Unpacking a tuple
packed_tuple = 1, 'Hello', 3.14
packed_tuple

(1, 'Hello', 3.14)

In [47]:
# Unpacking a tuple
a, b, c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [48]:
# Unpacking with a *
nums = (1,2,3,4,5)
first, *middle, last = nums
print(first)
print(middle)
print(last)

1
[2, 3, 4]
5

In [53]:
# Nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
print(nested_tuple[0])
print(nested_tuple[1])
print(nested_tuple[2])
print(nested_tuple[1:2])

(1, 2, 3)
('a', 'b', 'c')
(True, False)
(('a', 'b', 'c'),)

In [56]:
# Iterating over tuples
for i in nested_tuple:
  for item in i:
    print(item, end=" ")
  print()

1 2 3
a b c
True False