#### SETS
Built-in datatype,
stores collection of unique items,
unordered,
no duplicate elements

In [39]:
# Set Creation
my_set = {1, 1, 2, 3, 4, 5}
print(my_set)
print(type(my_set))

s = {}
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>
<class 'dict'>

In [13]:
l_set = set([1, 2, 3, 3, 3, 4, 5, 5, 6, 6])
print(l_set)

{1, 2, 3, 4, 5, 6}

In [18]:
# Set Operations
# Adding an element
s = {1, 2, 3, 4, 5}
s.add(10)
s.add(10)
s.remove(3)
s

{1, 2, 4, 5, 10}

In [ ]:
s.discard(10)
# Unlike .remove() discard() does not give an error if an element isnt present in the set

In [ ]:
# Pop :- removes an element from the start
popped = s.pop()
popped

1

In [23]:
# .clear()
s.clear()
s

set()

In [26]:
# Membership test
s = {1, 2, 3, 4, 5, 6}
print(3 in s)
print(7 in s)

True
False

In [31]:
# Mathematical Operations in Sets
s1 = {1,2, 3, 4, 5, 9}
s2 = {5, 6, 7, 8, 9, 10}

union_set = s1.union(s2)
print(union_set)

intersection_set = s1.intersection(s2)
print(intersection_set)

s1.intersection_update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{9, 5}
{9, 5}

In [32]:
s1 = {1,2, 3, 4, 5, 9}
s2 = {5, 6, 7, 8, 9, 10}

# Difference
print(s1.difference(s2))

{1, 2, 3, 4}

In [34]:
# Symmetric difference
s1.symmetric_difference(s2)

{1, 2, 3, 4, 6, 7, 8, 10}

In [38]:
# Sets Methods
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {1, 2, 3}

# issubset()
print(set1.issubset(set2))
print(set1.issubset(set3))

# issuperset()
print(set1.issuperset(set2))

False
True
False